@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-animation {
  opacity: 0;
  animation: fadeInUp 2s ease-out forwards;
}

.subtitle-animation {
  opacity: 0;
  animation: fadeInUp 2s ease-out forwards;
  animation-delay: 1s;
}

.reveal-section {
  position: relative;
  overflow: hidden;
}

.reveal-image {
  transform: scale(1.2);
  transition: transform 1s ease-out;
}

.reveal-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 1.2s ease-in-out;
}

.reveal-section.active .reveal-image {
  transform: scale(1);
}

.reveal-section.active .reveal-cover {
  transform: scaleX(1);
  transform-origin: left;
}

.home6_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home6_container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 160px 0;
}

.home6_container_inner {
  width: 92%;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.home6_wallpaper {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  background-image: url("./static/asset/newtossim/section2_4_big.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.home6_wallpaper h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.3;
  color: #f9fafb;
  text-align: center;
}

.home6_wallpaper_wall {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.home6_wall {
  height: 100%;
  width: 200px;
  background-color: white;
}

.home6_content1 {
  width: 100%;
  margin-bottom: 160px;
}

.home6_content1 h1 {
  margin-bottom: 140px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.4;
  color: #191f28;
}

.home6_content1 img {
  display: block;
  opacity: 0;
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.home6_content1 h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: #191f28;
  margin-bottom: 30px;
}
.home6_content1 span {
  color: #b0b8c1;
}

.home6_content1 p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #333d4b;
}
.home6_content1_textwrap {
  opacity: 0;
}

.home6_content2 {
  display: flex;
  align-items: flex-end;
}
.home6_content2 > img {
  opacity: 0;
  width: 100%;
  max-width: 660px;
  margin-right: 40px;
}
.home6_content2_item {
  opacity: 0;
}
.home6_content2_item > img {
  max-width: 380px;
  width: 100%;
  margin-bottom: 40px;
}

.home6_content2_item p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #333d4b;
  width: 100%;
}
.home6_textwrap {
  margin-top: 30px;
  margin-bottom: 280px;
}
.home6_textwrap h2 {
  opacity: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: #191f28;
  margin-bottom: 5px;
}
.home6_textwrap span {
  color: #b0b8c1;
}

.home6_content3 img {
  opacity: 0;
  width: 100%;
  margin-bottom: 60px;
}

.home6_textwrap2 {
  opacity: 0;
  display: flex;
}

.home6_textwrap2 h2,
.home6_textwrap2 p {
  width: 50%;
}

.home6_textwrap2 h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: #191f28;
  margin-bottom: 5px;
}

.home6_textwrap2 span {
  color: #b0b8c1;
}
.home6_textwrap2 p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  color: #333d4b;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating-arrow {
  animation: float 2s ease-in-out infinite;
}
