@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./styles/common.css";
@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./styles/common.css";
@import "./assets/fonts/fonts.css";
@import "tailwindcss/utilities";

body {
  font-family: "Pretendard-Regular", -apple-system, BlinkMacSystemFont,
    system-ui, sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
